body{
    font-family: 'Arimo', sans-serif; 
    background-color:#ece0d2;
}

/* header */
h1 {
    font-family: 'Arvo', serif;
    font-size: 100px;
    color: #5e3a2c;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
    color: #ce1e29;
}

/*pantry*/
.pantry-container {
    display: block;
    flex-direction: column;
    border: 4px solid #bd771d;
    color: #5e3a2c;
}

.vegetable-store {
    background-color:aquamarine;
}

.larder {
    background-color: cornflowerblue;
}

.fridge {
    background-color: gold;
}
h3 {
    color: #bd771d;
}

h5 {
    color: #795773;
}
/*recipes*/

.recipe-box { 
    display: inline-flex;
    border-radius: 5%;
    border: 6px solid #f6f2e9; 
    margin: 5px;
    padding: 10px;
    color: #63922e;
}

