body{
    font-family: 'Arimo', sans-serif; 
    background-color:#ece0d2;
}

/* header */
h1 {
    font-family: 'Arvo', serif;
    font-size: 100px;
    color: brown;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
}