body{
    font-family: 'Arimo', sans-serif; 
    background-color:#ece0d2;
}

/* header */
h1 {
    font-family: 'Arvo', serif;
    font-size: 150px;
    color: #5e3a2c;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
    color: #ce1e29;
    font-size: 50px;
}

/*pantry*/
.pantry-container {
    display: inline-flex;
    flex-direction: row;
    border: 4px solid #bd771d;
    color: #5e3a2c;
    gap: 5px;
    margin-bottom: 30px;
}

.vegetable-store-container {
    justify-content: flex-start;
    width: 500px;
}

.larder-container {
    justify-content: center;
    width: 500px;
}

.fridge-container {
    justify-content: flex-end;
    width: 500px;
}

h3 {
    color: #bd771d;
    font-size: 50px;
}

h5 {
    color: #795773;
}
/*recipes*/

h4 {
    font-size: 30px;
    color: #5e3a2c;

}

h5 {
    font-size: 25px;
}

li {
    font-size: 20px;
    color :#ce1e29;
    list-style-type: none;
}

.recipe-box { 
    display: inline-flex;
    flex-wrap: wrap;
    border: 2px solid #f6f2e9; 
    color: #63922e;
}

.recipe1-container {
    width: 500px;
}

.recipe2-container {
    width: 500px;
}

.recipe3-container {
    width: 500px;
}

.recipe4-container {
    width: 500px;
}

.recipe5-container {
    width: 500px;
}

.recipe6-container {
    width: 500px;
}

/*buttons*/
.btn {
    font-family: 'Arvo', serif;
    width: 150px;
    height: 50px;
    text-transform: uppercase; 
    color: #000;
}

.btn--blue {
    border-color: blue;
    background-color: blue;
    color: white;
}

.btn--purple {
    border-color: purple;
    background-color: purple;
    color: white;
}

.btn--pink {
    border-color: palevioletred;
    background-color: palevioletred;
    color: white;
}